.profile-pic {
    position:absolute;
    top:25px;
    right: 25px; 
}

.prof-image {
    width:125px;
    height:100px;
    border-radius: 8px;    
    /* top:50px;
    right: 25px;  */
} 

.intro, .ed-history, .projects {
    border-style:outset;
    
    width: 750px;
    height:200px;
    margin-top: 50px;
    margin-left: 250px;
    padding:25px;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
    
    /* margin: 100px 50px 25px 300px; */
    /* margin:auto; */

} 

body {      
    background-image:url(bg2.jpg);
    /* background-repeat: repeat-x;
    background-repeat: repeat-y; */
    
}

h2 {
    font-family: sans-serif; 
    text-decoration: brown;
    font-style: italic;
}

p {
    font-family: 'Calibri';
    margin-right: 10px;
    width:450px;
}

.header-right {
    float: right;
    /* border: outset; */
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header a {
    float: left;
    color:darkgrey;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px; 
    /* line-height: 25px; */
    border-radius: 4px;
}

.logo {
    width:75px;
    height:50px;
    margin-top: 5px;
    margin-left:25px;
    /* border: outset;q */
    border-radius: 20px;
}

.header {
    overflow: hidden;
    padding: 10px 10px;
    background-image: url("header.png");
}

.header h1 {    
    text-align: center;
    width: 20%;    
    /* border:outset;     */
    margin:0 auto;
    color: cornsilk
    /* line-height: 0px;  */
}

/* .header-center {
    width: 20%;
    margin:0 auto;
    border:outset;    
    line-height: 0px;    
} */

.sidenav {
    height: 100%;
    width: 0;
    margin-top:5px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1A1110;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color:darkgray;
    display: block;
    transition: 0.3s;
  }

  .menu a {
    border-block-end-style: groove;
    border-radius: 20px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */

  #contact .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  #contact:hover .tooltiptext {
    visibility: visible;
  }

  .ed-history {
    /* border-style:outset;
     */
    width: 900px;
    height:525px;
    /* margin-top: 50px; */
    margin-left: 175px;
    /*padding:25px;

    box-sizing: border-box;
    position: relative; */
  }

  .ed-history table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 5px solid #C0C0C0;
  }
  
  .ed-history th, td {
    text-align: left;
    padding: 8px;
    width:50px; 
    padding-right: 10px;
    border: 2px solid #C0C0C0;
    text-align: center; 
  }

  .ed-history li {
    text-align: left;
  }
  
  .ed-history tr:nth-child(even) {
    /* background-color: #f2f2f2; */
    border: 5px solid #C0C0C0;
  }

  .projects {
    width: 900px;
    height: 400px;
    margin-left: 175px;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  } 

  .active:after {
    content: "\2212";
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .is-active .menu {
    display: block;
  }

  .toggle, .menu {
    width: 100%;
  }